:root {
  --pico-color-red-500: #d93526;
  --pico-color-light: #fff;
}

.pico-background-red-500 {
  background-color: var(--pico-color-red-500);
  color: var(--pico-color-light);
}

body {
  main {
    padding-top: .5em;
  }
}
button {
  &.normal {
    padding: 5px 10px;
    width: fit-content;
  }
}

details {
  &.accordion {
    .accordion-header {
      hgroup {
        margin-bottom: 5px;
        p {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.margin-top-1 {
  margin-top: 1em
}

.margin-bottom-05 {
  margin-bottom: .5em;
}

.led {
  height: 30px;
  width: 30px;
  margin: .25em;
  border-radius: 50%;
  display: inline-block;
}

article {
  margin: .25em;
  padding: .5em;
}

.float-right {
  float: right;
}